
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li> <%= bookmark %> </li>
  <% end %>
</ul>

<form action="/add" method="post"> 
  <label for="url">Enter URL</label>
  <input type="text" name="url" required>
  <button>Add</button>
</form>